div#debug-log {
    white-space: pre;
    background-color: white;
}

label.ui-dform-checkbox, label.ui-dform-radio {
    display: inline !important;
}

.ui-dform-submit, .ui-dform-span, .ui-dform-label, .ui-dform-tabs, .ui-button {
    margin: 10px 0;
}

.ui-dform-submit {
    display: inline-block;
    float: right;
}

#demo {

}

.ui-dform-button-next {
    float: right;
}

.ui-dform-button-prev {
    float: left;
}

.ui-tabs-nav .ui-dform-label { 
    margin: 0;
 }

.ui-tabs-panel blockquote { 
    margin: 0; 
}

label.ui-accordion-header { 
    margin: 0; 
}

.ui-dform-elements {
    display block;
}

.ui-dform-elements label {
    display: inline-block;
    color: #202020;
    width: 16em;
    text-align: right;
    padding-right: 8px;
}

div.ui-dform-elements input {
    display: inline-block;
}

div.ui-dform-radiobuttons, div.ui-dform-checkboxes {
    display: inline-block;
}

div.ui-dform-radiobuttons label, div.ui-dform-checkboxes label {
    width: auto;
    text-align: auto;
    padding-right: 8px;
}


.ui-dform-wizard-prev, .ui-dform-wizard-next, .ui-dform-wizard-cancel,
        .ui-dform-submit {
    background-color:#b0232a;
    padding:5px 10px;
    color:#fff; 
    text-decoration: none;
}

.ui-dform-wizard-prev:hover, .ui-dform-wizard-next:hover, 
        .ui-dform-wizard-cancel:hover, .ui-dform-submit:hover { 
    background-color: #000;
    text-decoration: none;
}

.ui-dform-wizard-prev {
    float: left;
}

.ui-dform-wizard-next, .ui-dform-wizard-cancel, .ui-dform-submit {
    float: right;
}

.ui-dform-steps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.ui-dform-steps li {
    font-size: 24px;
    float: left;
    padding: 10px;
    colorf :#b0b1b3;
}

.ui-dform-steps li span { 
    font-size: 11px;
    display: block;
}

.ui-dform-steps li.current { 
    color: #000;
}
