<div class='show-command-top'>
    {{#each history}}
        <div class='history-element'>
            <span class='show-command-name'>{{command}}</span>
             - 
            <span class='date'>{{on}}</span>
        </div>
    {{/each}}
</div>
