<div class='show-command-top'>
    {{#each output.commands}}
        <div class='show-command'>
            <div class='show-command-name'>{{command}}</div>
            <div class='command-help'>{{help}}</div>
        </div>
    {{/each}}
</div>
