<script type="text/x-handlebars" data-template-name="show-welcome">
  <h2>WELCOME TO CLIRA</h2>
  <p>CLIRA is the CLI Remote Access project</p>
  <p>To see a list of valid commands, please use <i><b>show commands</b></i>
in the above input box and press <i>Enter</i> button. <br/>
To view this welcome screen, use <i><b>show welcome screen</b></i> command</p>
  <p>More details can be found on the project home page at 
<a href="https://github.com/juniper/juise" target="_blank">
https://github.com/juniper/juise</a></p>
  {{view Clira.WelcomeCheck checkedBinding="this"}} <i>Do not show this on startup</i>
</script>
