# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app

*~
*.orig

aclocal.m4
ar-lib
autom4te.cache
build
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
missing

Makefile.in
configure
libjuise/juiseconfig.h.in
