/*
 * $Id$
 *
 * addons.css -- this file includes additional rules for
 * each theme that are not supplied by the themeroller output.
 */

html {
#    background: url("addons/html_bg.png") repeat-x scroll 0 0 #5f5f5f;
}

div#header {
    background: url("addons/html_bg.png") repeat-x scroll 0 0 #5f5f5f;
}

body {
#    background: url("addons/body_bg.png") repeat-x scroll 0 0;
margin: 0;
}

#input-top {
    background-color: #ffffff;
}

/*
div#content-wrapper {
    background: #333333 url(images/ui-bg_diagonals-thick_8_333333_40x40.png) 50% 50% repeat;
}
*/

/* The default styles set fonts annoyingly large */
body * {
    font-size: 12px;
}

.ui-widget-content {
    color: #333333;
}
