<script type="text/x-handlebars" data-template-name="show-interfaces">
    <style type="text/css">
        .ifdContainer {
           margin : 5px;
           width : 150px;
           border : solid 1px black;
           border-radius : 5px;
        }
        .ifdName {
            background: rgb(255,197,120);
            border-radius : 5px;
            padding : 5px;
        }
        .ifdName label {
            font-family : 'Helvetica';
            font-weight : bold;
        }
        .ifdInfo {
            padding : 5px;
        }
        .ifdInfo label {
            display : block;
            margin : 1px;
        }
    </style>
    {{#if loading}}
        <label>Fetching interface information, please wait...</label>
    {{/if}}
    {{#if ifList}}
        {{#each ifd in ifList}}
            {{#view Clira.showInterfacesApp.interfaceView contentBinding='this'}}
                <div class='ifdContainer'>
                    <div class='ifdName'><label>{{ifd.name}}</label></div>
                    <div class='ifdInfo'>
                        <label>Admin status : {{ifd.adminStatus}}</label>
                        <label>MTU : {{ifd.mtu}}</label>
                        <label>Speed : {{ifd.speed}}</label>
                    </div>
                </div>    
            {{/view}}
        {{/each}}
    {{/if}}
    {{#if error}}
        <label>RPC failed</label>
    {{/if}}
</script>
